<!--
  <div class="title">Candidate Submissions</div>
<div class="sp_action" id="dialogContainer" ng-controller="dialogController as ctrl" layout="row" ng-cloak>
  <md-content>
       <div ng-click="showCustom($event)"  flex="100"  flex-gt-md="auto" class="sp_action"><i class="material-icons sp_icon">library_add</i> New Item </div>
  </md-content>   
</div>
-->
<div ng-controller="dTableCtrl" class="row">
  <div class="col-lg-12 col-md-12">
    <table datatable="ng" dt-options="dtOptions" class="compact display row-border hover">
      <caption>
        <div class="title">Open Positions</div>
      </caption>
      
      <thead>
        <tr>
          <th>Position Title</th>
          <th>ID</th>
          <th>Family</th>
          <th>Level</th>
          <th>Site</th>
          <th>Open</th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="x in positions">
          <td><span ng-class="{hidden: x.openDays > 14}" class="new badge deep-orange darken-4"> </span>{{x.PosnTitle}}</td>
          <td>{{x.PosnID}}</td>
          <td>{{x.LaborFamily}}</td>
          <td>{{x.LaborLevel}}</td>
          <td>{{x.Site}}</td>
          <td>{{x.openDays}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <hr class="divider"></hr>
  <div ng-controller="dTableCtrl"  class="col-lg-12 col-md-12">
    <table datatable="ng" dt-options="dtOptions" class="compact display row-border hover">
      <caption>
        <div class="title">Candidate Submissions</div>
        <div class="sp_action"><a class="deep-orange-text text-darken-3" ng-href="{{newsubmissionurl}}" target="_blank"><span class="fa fa-user-plus"></span> New Submission</a> </div>
      </caption>
      <thead>
        <tr>
          <th>Company</th>
          <th>ID</th>
          <th>Candidate</th>
          <th>Status</th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="x in submissions">
          <td>{{x.Company}}</td>
          <td>{{x.PosnIDId}}</td>
          <td>{{x.CandidateName}}</td> 
          <td>
            <div class="sp_action" id="dialogContainer" ng-controller="dialogController as ctrl" layout="row" ng-cloak>
              <md-content>
                <div ng-click="showCandidateStatus($event, x)"  flex="100"  flex-gt-md="auto" class="sp_action btn btn-default">{{x.CandidateStatusValue}} on <span class="s2orange-text">{{x.StatusDate}}</span></div>
              </md-content>   
            </div>
          </td> 
        </tr>
      </tbody>
    </table>
  </div>
</div>
