<!--
  <div class="title">Candidate Submissions</div>
<div class="sp_action" id="dialogContainer" ng-controller="dialogController as ctrl" layout="row" ng-cloak>
  <md-content>
       <div ng-click="showCustom($event)"  flex="100"  flex-gt-md="auto" class="sp_action"><i class="material-icons sp_icon">library_add</i> New Item </div>
  </md-content>   
</div>
-->
<div class="row">
  <div class="col-lg-6 col-md-12">
    <table datatable="ng" dt-optons="showCase.dtOptions" dt-columns="showCase.dtColumns" class="display compact row-border hover">
      <caption>
        <div class="title">Open Positions</div>
      </caption>
      
      <thead>
        <tr>
          <th>Position Title</th>
          <th>ID</th>
          <th>Family</th>
          <th>Level</th>
          <th>Site</th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="x in positions">
          <td>{{x.PosnTitle}}</td>
          <td>{{x.PosnID}}</td>
          <td>{{x.LaborFamily}}</td>
          <td>{{x.LaborLevel}}</td>
          <td>{{x.Site}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <div class="col-lg-6 col-md-12">
    <table datatable="ng" class="display compact row-border hover">
      <caption>
        <div class="title">Candidate Submissions</div>
        <div class="sp_action"><a ng-href="{{newsubmissionurl}}" target="_blank"><i class="material-icons sp_icon">library_add</i> New Item</a> </div>
      </caption>
      <thead>
        <tr>
          <th>Company</th>
          <th>Candidate</th>
          <th>ID</th>
          <th>Status</th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="x in submissions">
          <td>{{x.Company}}</td>
          <td>{{x.CandidateName}}</td>
          <td>{{x.PosnIDId}}</td>
          <td>{{x.CandidateStatusValue}} on <span class="s2orange-text">{{x.StatusDate}}</span></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
